Django==5.1
gunicorn
whitenoise

django-allauth
django-jazzmin
django-cors-headers
djangorestframework

channels
channels-redis

python-dotenv
python-decouple

mysqlclient
PyMySQL
dj-database-url
redis
requests

Pillow
PyJWT

drf-yasg
Pygments
django-markdownx

cryptography
scikit-learn
pandas
psycopg2-binary


